body {
    margin: 0;
}
.forg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.forg .strawberry {
    position: relative;
    width: 100px;
    height: 100px;
    background: pink;
    border-radius: 50%;
}
.forg .dot {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
}
.forg .strawberry + .strawberry {
    margin-left: 40px;
}

#canvas {
    background: hotpink;
    border-radius: 12px;
}