body {
    margin: 0;
}
@keyframes animate-hearts {
  0% {
        transform: scale(0.8);
  }
  100% {
        transform: scale(1);
  }
}
@keyframes animate-spin {
     0% {
         transform-origin: 50% 50%;
         transform: rotate(0deg);
     }
     100% {
         transform-origin: 50% 50%;
         transform: rotate(360deg);
     }
}
@keyframes animate-nose {
     0% {
         width: 10px;
     }
     100% {
         width: 51.5px;
     }
}
@keyframes animate-sweat {
  0% {
    top: 5px;
    transform: scale(0.4);
  }
  100% {
    top: 45%;
    transform: scale(1);
  }
}
@keyframes animate-mua {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(2.0);
    }
}

.tip {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: pink;
}

.emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.emoji .box {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emoji .one {
    position: relative;
    width: 100px;
    height: 100px;
}
.emoji img, .emoji svg {
    width: 100px;
}
/* 1可爱 */
#cute .left {
    position: absolute;
    top: 33.3px;
    left: 19.4px;
}
#cute .right {
    position: absolute;
    top: 33.3px;
    left: 54px;
}
#cute .eye {
    position: relative;
    width: 27px;
    height: 27px;
    background: #eee;
    border-radius: 50%;
}
#cute .eye .dot {
    position: absolute;
    top: 6.75px;
    left: 6.75px;
    width: 13.5px;
    height: 13.5px;
    border-radius: 50%;
    background: rgb(102, 77, 38);
}

/* 2心动 */
#heart .box {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
}
#heart .left, #heart .right {
    width: 43.5px;
}
#heart .animate-hearts {
    animation: animate-hearts 500ms linear 0s infinite alternate;
}

/* 3微笑 */
#smile .animate-spin {
    animation: animate-spin 1s linear infinite;
}

/* 4流汗 */
#sweat .sweat {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20.25px;
}
#sweat .animate-sweat {
    animation: animate-sweat 1.8s linear 0s forwards;
}

/* 鼻子 */
#nose .nose {
    position: absolute;
    top: 50px;
    right: 47px;
    width: 0;
    background: #e29e53;
    height: 14px;
    border-radius: 10px 8px 6px;
    transform: rotate(-2deg);
}
#nose .animate-nose {
    animation: animate-nose 1.8s linear 0s forwards;
}

/* 木木哒 */
#mua .mua {
    position: absolute;
    bottom: 15px;
    right: 5px;
    width: 33.75px;
    opacity: 0;
}
#mua .animate-mua {
    animation: animate-mua 1s linear 0s forwards;
}

/* 变脸 */
#who {
    
}
#who img {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}